//
// Color system
//

// stylelint-disable
$primary:                 #adb5bd;

// Body
//
// Settings for the `<body>` element.

$body-bg:                 #333 !default;
$body-color:              #FFF !default;
