{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 8", "ie >= 10"]
            },
            "loose": true,
            "debug": false,
            "modules": false,
            "useBuiltIns": "usage"
        }]
    ],
    "plugins": [
        "transform-vue-jsx",
        "transform-class-properties",
        "syntax-dynamic-import",
        ["@babel/plugin-transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "@babel/runtime"
        }]
    ]
}
